.FormWrapper{
  width: 50%;
  height: 10%;
  color: #005AA3;
  font-family: 'Fira Sans', sans-serif;
  background-color: #C3B7B6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SelectBox{
  width: 70%;
  height: 50%;
}
